<% include ../partials/header %>

<h1><%= puppy.name%></h1>

<img src="<%=puppy.imageUrl%>" alt="Picture" width=200 height=200>

<a href="/puppies">See all puppies</a>
<% include ../partials/footer %>